@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply w-full h-full text-gray-100 relative;
}

html {
    scrollbar-width: none;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

p {
    @apply text-lg leading-relaxed tracking-wider;
}

canvas {
    @apply w-screen h-screen;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-orbitron;
}

#leva__root {
    @apply hidden;
}

.section-wrapper {
    @apply min-h-screen lg:min-h-0 lg:h-screen flex items-center justify-center flex-col px-4 lg:px-0 mb-14 lg:mb-0;

    &#hero {
        @apply mb-0;
    }

    &#about {
        @apply mb-6;
    }
}

.section-heading {
    @apply text-[26px] lg:text-4xl font-semibold mb-4 lg:mb-8 lg:text-center bg-gradient-to-r from-fuchsia-500 to-purple-800 bg-clip-text text-transparent;
}

.section-paragraph {
    @apply text-base lg:text-lg font-normal text-gray-300 leading-relaxed mb-8 lg:text-center;
}

.glass-card {
    @apply mx-auto rounded-md lg:rounded-xl border border-white/40 bg-gradient-to-b from-slate-700/60 to-slate-900/60 shadow-xl backdrop-blur-sm
}

.scrollable-description {
    scrollbar-width: thin;
    scrollbar-color: #555 #222;
}
.scrollable-description::-webkit-scrollbar {
    width: 8px;
}
.scrollable-description::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
}
.scrollable-description::-webkit-scrollbar-track {
    background: #222;
}