@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply w-full h-full text-gray-100;
}

html {
    scrollbar-width: none;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

p {
    @apply text-lg leading-relaxed tracking-wider;
}

canvas {
    @apply w-screen h-screen;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-orbitron;
}

#leva__root {
    @apply hidden;
}

.section-heading {
    @apply text-fuchsia-500 text-4xl font-semibold mb-8 text-center;
}

.section-paragraph {
    @apply text-lg font-normal text-gray-300 leading-relaxed mb-8 text-center;
}

.glass-card {
    @apply mx-auto rounded-xl border border-white/40 bg-gradient-to-b from-slate-700/60 to-slate-900/60 shadow-xl backdrop-blur-sm
}